---
layout: default
title: rockadudle
---
<div class="content">
	{% if paginator.total_posts > 0 %}
	{% for post in paginator.posts %}
	
	<div class="post-wrapper">
		<div class="post">
			<h4>
				{{ post.title }}
			</h4>
			{% if post.sub_title.size > 0 %}
			<h5>
				{{ post.sub_title }}
			</h5>
			{% endif %}
			<h5><small>
				<i class="fa fa-calendar-check-o"></i>
				{{ post.date | date: "%d-%m-%Y" }}
			</small></h5>
			<div class="post-content">
				{% include post_images.html links=post %}
				{{ post.content }}
				{% if post.appstore_link.size > 0 %}
				<div class="store">
					<a class="store-link" href="{{ post.appstore_link }}">
						<img src="{{ site.url }}/assets/store-images/apple-appstore-badge.svg"></img>
					</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	
	{% endfor %}
	{% else %}
	<div class="jumbotron text-center">
		<h1> No posts yet :( </h1>
	</div>
	{% endif %}
	
	<div class="container text-center">
		{% if paginator.previous_page %}
		<a class="nav" href="{{ paginator.previous_page_path }}"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
		{% endif %}
		
		{% if paginator.next_page %}
		<a class="nav" href="{{ paginator.next_page_path }}"><i class="fa fa-arrow-circle-right fa-2x"></i></a>
		{% endif %}
	</div>
</div>
