<footer class="footer">
	<div class="footer-container text-center">
		
		<div class="footer-text">
			<a id="upButton"class="link" href="#"><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i></a>
		</div>
		<div class="footer-text">
			<i class="fa fa-envelope-o footer-text" aria-hidden="true"></i>
			<a class="link" href="mailto:rockadudle@gmail.com">rockadudle@gmail.com</a>
		</div>
		<a class="nav-link link-github" href="https://github.com/Robinseibold" target="_blank">
			<i class="fa fa-github fa-2x" aria-hidden="true"></i>
		</a>
		<a class="nav-link link-twitter" href="https://twitter.com/rockadudle1" target="_blank">
			<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
		</a>
		<a class="nav-link link-youtube" href="https://youtube.com/user/rockadudle" target="_blank">
			<i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
		</a>
		<a class="nav-link link-twitch" href="https://www.twitch.tv/rockadudle" target="_blank">
			<i class="fa fa-twitch fa-2x" aria-hidden="true"></i>
		</a>
		
	</div>
</footer>
