
{% for game in site.games reversed %}
<div class="content-game">
<div class="row vertical-align">
	<div class="col-md-6 {% cycle 'col-md-push-6', '' %}">
		<div class="align-middle">
		{% if game.title_image.size > 0 %}
		<img class="img-responsive game-title-image" src="{{ site.url }}{{ game.title_image }}" alt="{{game.title}}">
		{% endif %}
		
		<p class="game-spec-title">
		Release Date: <span class="game-spec-text">{{ game.release_date }}</span>
		</p>
		<p class="game-spec-title">
		Platform: <span class="game-spec-text">{{ game.platform }}</span>
		</p>
		<p class="game-spec-title">
		Developer: <span class="game-spec-text">{{ game.developer }}</span>
		</p>
		<p class="game-spec-title">
		Art: <span class="game-spec-text">{{ game.art }}</span>
		</p>
		<p class="game-spec-title">
		Sound: <span class="game-spec-text">
			{% if game.sound_credits.size > 0 %}
				<a class="nav-link link" target="_blank" href="{{site.url}}{{game.sound_credits}}">Credits</a>
			{% else %}
				{{ game.developer }}
			{% endif %}
		</span>
		</p>
		
		<p class="game-spec-description">{{ game.description }}</p>
		{% if game.appstore_link.size > 0 %}
		<div class="store">
			<a class="store-link" target="_blank" href="{{ game.appstore_link }}">
				<img class="store-image" src="{{ site.url }}/assets/store-images/apple-appstore-badge.svg"></img>
			</a>
		</div>
		{% endif %}
		{% if game.playstore_link.size > 0 %}
		<div class="store">
			<a class="store-link" target="_blank" href="{{ game.playstore_link }}">
				<img class="store-image" src="{{ site.url }}/assets/store-images/google-playstore-badge.png"></img>
			</a>
		</div>
		{% endif %}
		</div>
	</div>
	
	<div class="col-md-6 {% cycle 'col-md-pull-6', '' %}">
		<div id="{{ game.image_set.name }}" class="carousel" data-ride="carousel">
			<a href="#{{ game.image_set.name }}" data-slide="next">
				<ol class="carousel-indicators">
					{% for image in game.image_set.images %}
					<li data-target="#{{ game.image_set.name }}"
						data-slide-to="{{ forloop.index | minus: 1 }}"{% if forloop.index == 1 %}
						class="active"{% endif %}>
					</li>
					{% endfor %}
				</ol>
				<div class="carousel-inner">
					{% for image in game.image_set.images %}
					<div class="item{% if forloop.index == 1 %} active{% endif %}">
						<img src="{{ site.url }}{{ image }}" alt="{{ image }}">
					</div>
					{% endfor %}
				</div>
			</a>
		</div>
	</div>
</div>
</div>

{% endfor %}
