$jetgray: #343434

.content
	margin-top: 5em

a.footer, a.footer:visited
	color: gainsboro

	&:hover, &.active
		color: black

a.nav, a.nav:visited
	color: $jetgray

	&:hover, &.active
		color: black
