$jetgray: #343434

.content
	margin-top: 1em
	display: inline-block

.footer
	margin-bottom: 1em

.post
	> h4
		margin-bottom: 0px

	> h5
		margin-top: 0px

.store
	margin: 1em

a.footer, a.footer:visited
	color: gainsboro

	&:hover, &.active
		color: black

a.nav, a.nav:visited
	color: $jetgray

	&:hover, &.active
		color: black

.carousel-inner > .item > img, .carousel-inner > .item > a > img
	height: 80vh
