$jetgray: #343434

.post-wrapper
	text-align: center
	margin-bottom: 2em

	> .post
		display: inline-block

		> h4
			margin-bottom: 0px

		> h5
			margin-top: 0px
			margin-bottom: 0px

		> .post-content
			padding: 0.5em

.store
	margin: 1em

.post-asset

	> .carousel
		padding-top: 5px
		padding-bottom: 5px

	> .carousel-inner > .item > img, > .carousel-inner > .item > a > img
		max-height: 80vh
		top: 0
		left: 0
		min-width: 100%
		max-width: 100%

	> .image-single
		max-height: 70vh

.embed-responsive-9by16
	padding-bottom: 178%

.video-asset
	text-align: center
	width: 45vh
	
